<div class="vs-main">
  <div class="vs-background">
    <div class="vs-background-image">
      <% if @video.video.attached? %>
        <div class="vs-background-video-box">
          <div class="vs-video">
            <video src="<%= rails_blob_path(@video.video)%>" type="video/mp4" controls="controls", width="776" height="497"></video>
          </div>
        </div>
      <% end %>
        <h3 class="vs-title-lan">
          <%= link_to @video.title %>
        </h3>
        <div class="vs-select-btn">
          <% if  user_signed_in? && current_user.id == @video.user_id%>
            <%= link_to '編集', edit_video_path, class:"vs-btn" %>
            <%= link_to '削除', video_path, method: :delete, class:"vs-btn"%>
          <% end %>
        <div>
    </div>
  </div>
</div>