// 詳細ページ

.vs-background{
  background-color: #bce2e8;
  padding-top: 50px;
}

.vs-background-video-box{
  position: relative;
  background-color: #ffffff;
  width: 796px;
  height: 519px;
  margin: auto; 
}

.vs-video video{
  position: absolute;
  top: 10px;
  left: 10px;
  size: 200px;
  border: 5px solid #35043d;
}

.vs-title-lan{
  font-size: 50px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #0c0c0c;
}

.vs-select-btn{
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.vs-btn{
  text-align: center;
  margin: auto;
  font-size: 50px;
  padding: 5px 0;
  border: 1px solid #0c0c0c;
  width: 300px;
  margin-bottom: 30px;
}